<h1>Tic Tac Toe</h1>
<div id="notice" style="display:none"></div>	
<div id="gameboard">
	<%- 3.times do |row| -%>
	<div class="row">
	<%- 3.times do |col| -%>
		<div id="<%= row %>_<%= col %>" class="cell"></div>
	<%- end -%>
	</div>
	<%- end -%>
</div>

<div id="game_data">
	<table>
		<tr>
			<th>Wins:</th>
			<td id="human_wins">0</td>
		</tr>
		<tr>
			<th>Losses:</th>
			<td id="computer_wins">0</td>
		</tr>
		<tr>
			<th>Ties:</th>
			<td id="ties">0</td>
		</tr>
	</table>

	<a href="#reset" id="reset_game" style="display:none">Start Again</a>
</div>