/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'mixins/rounding';
@import 'mixins/shadows';

body{
 	font-family: Helvetica, Verdana;
 	font-size: 2em;
}

#content_wrapper{
	width:100%;
}

h1{
	text-align: center;
	font-size:1.5em;
	color:#233;
}

@import 'game'
