#gameboard{
	width:400px;
	float:left;
	display: table;
	border-collapse:collapse;

	@include shadow(4px, 4px, 8px, #ccc);

	.row{
		clear:both;
		display:table-row;

		.cell{
			border: 1px solid #aaa;
			background: #fff;
			width:120px;
			height:120px;
			display:table-cell;
			text-align:center;
			font-family:courier;
			font-size: 92px;
			color: #666;

			&:hover{
				background:#afa;
			}
		}
	}
}

#game_data{
	float:right;
	border: 1px solid #aaa;
	@include shadow(4px, 4px, 8px, #ccc);

	padding:8px;
	
	table th{
		text-align:right;
	}
}