#gameboard{
	width:550px;
	float:left;
	display: table;
	border-collapse:collapse;

	@include shadow(4px, 4px, 12px, #000);

	.row{
		clear:both;
		display:table-row;

		.cell{
			border: 1px solid rgba(200,200,200,0.7);
			background: rgba(20,20,20,0.4);
			width:180px;
			height:180px;
			display:table-cell;
			text-align:center;
			font-family:courier;
			font-size: 92px;
			color: #666;

			&:hover{
				background: rgba(20,20,20,0.7);
			}

			div{
				background: url('/assets/xo.png') no-repeat;
				width: 180px;
				height: 180px;
				&.X{

				}
				&.O{
					background-position: -185px;
				}
			}
		}
	}
}

#game_data{
	float:right;
	background: rgba(20,20,20,0.4);

	@include shadow(4px, 4px, 12px, #000);

	padding:8px;
	
	table th{
		text-align:right;
	}
}